{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade",
                "tabWidth": 4,
                "printWidth": 120
            }
        }
    ]
}
