.button .button--primary {
    background-color: rgba(255, 68, 56, 0.15);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(255, 68, 56, 1);
    cursor: pointer;
}