@use '_variables';

.button {
    padding: 0.5rem 1rem;
    border-radius: variables.$border-radius;
    border-width: variables.$border-width;
    border-style: variables.$border-style;
    cursor: pointer;

    &.button--primary {
        background-color: variables.$primary-background-color;
        border-color: variables.$primary-color;
        color: white;
    }
}