@use '_variables';

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: variables.$border-radius;
    border-width: variables.$border-width;
    border-style: variables.$border-style;
    cursor: pointer;
    text-decoration: none;
    transition: variables.$transition;
    font-size: variables.$font-size-base;

    &--primary {
        background-color: variables.$primary-background-color;
        border-color: variables.$primary-color;
        color: variables.$text-light;
    }

    &--secondary {
        background-color: variables.$secondary-background-color;
        border-color: variables.$secondary-color;
        color: variables.$text-light;
    }

    &--transparent {
        background-color: transparent;
        border-color: variables.$text-light;
        color: variables.$text-light;
    }

    &--success {
        background-color: variables.$success-color;
        border : none;
        color: variables.$text-light;
    }

    &--dark {
        background-color: variables.$text-dark;
        border : none;
        color: variables.$text-light;
    }

    &--circle {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: variables.$border-radius-circle;
    }

    &:hover{
        transform: scale(1.1);
    }
}

