@use '_variables' as *;

.card {
    background-color: $bg-card;
    border-radius: $border-radius-card;
    padding: 1rem;
    color: $text-light;
    border: white $border-width $border-style;
}

.product-card {
    padding: 0;
    text-align: center;
    transition: $transition;
    overflow: hidden;

    &__body {
        padding: 0.5rem 1rem;
    }

    &__title {
        font-size: 1.5rem;
        margin: 1rem 0;
        text-align: left;
    }

    &__price {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        text-align: left;
    }

    &__image {
        width: 100%;
        height: 200px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: $transition;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}