@use "_variables" as *;

.container {
    width: $mediascreen-xl;
    margin: 0 auto;

    &--large {
        width: $mediascreen-xxl;
        margin: 0 auto;
    }
}

@media screen and (max-width: $mediascreen-xxl) {
    .container--large {
        width: $mediascreen-xl;
    }
}

@media screen and (max-width: $mediascreen-xl) {
    .container, .container--large {
        width: $mediascreen-m;
    }
}

@media screen and (max-width: $mediascreen-m) {
    .container, .container--large {
        width: 90%;
    }
}