@use '_variables';

.header {
    position:sticky;
    top: 0;
    padding : 0.5rem 0;
    margin-bottom: 1.5rem;
    background-color: variables.$bg-card;
    border-bottom: variables.$color-grey variables.$border-width variables.$border-style;
    z-index: 1000;
    
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        padding: 0.75rem 0;
        margin: 0 auto;
        
        &__logo {
            color: variables.$text-light;
            text-decoration: none;
            font-size: 2.5rem;
            font-weight: 700;
        }
        
        &-link {
            display: inline-block;
            color: variables.$text-light;
            text-decoration: none;
            font-size: variables.$font-size-base;
            font-weight: 500;
            transition: variables.$transition;
            
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    
    &__nav-links {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

     @media screen and (max-width: 768px) {
        .menubase {
            display: none;
        }
    }
}

/* Menu */

#menuToggle {
    user-select: none;
    
    a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
        
        &:hover {
            color: variables.$primary-color;
        }
    }

    .burger-button {
        display: none;
        position: relative;

        input {
            display: block;
            width: 30px;
            height: 20px;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
        }
        
        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #cdcdcd;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1),
            opacity 0.55s ease;
            
            &:first-child {
                transform-origin: 0% 0%;
            }
            
            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        }
        
        /* animation hamburger → croix */
        
        input:checked ~ span {
            opacity: 1;
            background: #333333;
        }
        
        input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: scale(0.2, 0.2);
        }
        
        input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(-10px, 10px);
        }
        
        input:checked ~ span:nth-last-child(1) {
            transform: rotate(45deg) translate(-10px, -10px);
        }
    }
    
    /* Menu */
    
    ul {
        position: absolute;
        right: 0;
        top: 0;
        
        width: 300px;
        height: 100vh;
        
        margin: 0;
        padding: 120px 40px;
        box-sizing: border-box;
        
        background: #ededed;
        list-style: none;
        
        transform: translateX(100%);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
        
        li {
            padding: 10px 0;
            font-size: 22px;
            
            label {
                cursor: pointer;
            }
        }
    }
    
    /* ouverture du menu */
    
    &:has(input:checked) ul {
        transform: translateX(0);
    }

    @media screen and (max-width: 768px) {
        .burger-button {
            display: block;
        }

        .container{
            max-width: 100%;
        }
    }
}