@use '_variables';

.header {
    background-color: variables.$bg-card;
    transition: variables.$transition;
    
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        padding: 0.75rem 0;
        margin: 0 auto;

        &__logo {
            color: variables.$text-light;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 700;
        }

        &-link {
            color: variables.$text-light;
            text-decoration: none;
            font-weight: 500;
            transition: variables.$transition;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__nav-links {
        display: flex;
        align-items: center;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}